{% extends "common/page_base.html" %} {# common/page_base.html extends layout.html #}

{% block content %}

<h1>Search for Videos lmao</h1>

<input type="text" id="search-box" />
<div id="hits-container"></div>
<div id="pagination-container"></div>

{% raw %}
<script>

var search = instantsearch({
	appId: 'Y9MCTNJ20T',
	apiKey: '5c85dabf76ed1ba90c86b74f3470d965',
	indexName: 'frames',
	urlSync: true
});

search.addWidget(
	instantsearch.widgets.searchBox({
		container: '#search-box',
		placeholder: 'Search for videos...'
	})
);

search.addWidget(
	instantsearch.widgets.hits({
		container: '#hits-container',
		templates: {
			item: '{{url}}'
		}
	})
);

search.addWidget(
	instantsearch.widgets.pagination({
		container: '#pagination-container'
	})
);

search.start();

</script>

{% endraw %}

{% endblock %}
