body {
	background-color: #3E4E50;
}

p, h1, h2, h3 {
	color: #F8F8F8;
}

input {
	border: none;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}

.hit {
	max-width: 500px;
}

.hit-img {
	width: 200px;
	/*float: left;
	clear: both;*/
}

.hit-text {
	/*float: right;
	clear: both;*/
}

.hit-text > h3 {
	font-size: 16px;
}

.hit-text > p {
	font-color: #E9E9E9;
}